@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    width: 100%;
  }
  svg {
    display: inline-block;
  }
}

@layer components {
  .color-primary {
    @apply text-orange-500;
  }
  .bg-primary {
    @apply bg-orange-500;
  }
  .text-secondary {
    @apply text-gray-400;
  }
  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-x-center {
    @apply flex justify-center;
  }
  .flex-y-center {
    @apply flex items-center;
  }
  .hot-area {
    @apply active:opacity-80 transition;
  }
}

:root:root {
  --adm-color-primary: #f97316;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;

  --adm-color-white: #ffffff;
  --adm-color-text: #333333;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #eeeeee;
  --adm-color-box: #f5f5f5;
  --adm-color-background: #ffffff;

  --adm-font-size-main: var(--adm-font-size-5);

  --adm-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}
